.cushion {
  width: 100%;
  height: 10px;

  @media #{$medium-up} {
    height: 20px;
  }
}

.hero {
  
  @media #{ $medium-up } {
    background-image: url(/img/DSC_0146.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.hero-texts {
  background: rgba(255,255,255, 0.95);

  @media #{ $medium-up } {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    padding: 20px;
  }
}

.register-now-wrapper {
  padding: 10px 0px;

  @media #{$medium-up} {
    padding: 20px 0px;
  }
}

.hero-button {
  @extend .small-12, .medium-8, .medium-offset-2, .large-6, .large-offset-3, .medium-centered;

  @include button(
    $radius: true
  );
  
  margin: 0 auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.hero-button.secondary {
  box-shadow: none;
  border: 1px solid #007095;
  color: #008CBA;
  background: #fff;
}

.sponsors li {
  text-align: center;
}

span.dont-break {
  word-break: keep-all;
}