<!-- Add this code to event page: -->
     <div itemscope itemtype="http://schema.org/Event">
      <meta itemprop="description" content="Unconference focusing on technology, programming, and entrepreneurship.">
        <meta itemprop="startDate" content="2016-12-03T09:00">
        <meta itemprop="endDate" content="2016-12-03T18:00">
        <meta itemprop="duration" content="0000-00-00T09:00">
        <link itemprop="url" href="https://www.barcampcyberjaya.org" rel="author"/>
        <a itemprop="url" href="https://www.barcampcyberjaya.org"><span itemprop="name" style="display:block;"><strong>BarCamp Cyberjaya 2016</strong></span></a>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress" style="display:block;">Faculty of Computing and Informatics, Multimedia University Cyberjaya, Persiaran Multimedia</span>
      <div>
        <span itemprop="addressLocality" style="display:block;">Cyberjaya</span>,
        <span itemprop="addressRegion"style="display:block;">Selangor</span>
      </div>
      <span itemprop="postalCode"style="display:block;">63100</span>
      <span itemprop="addressCountry"style="display:block;">Malaysia</span>
    </div>
  </div>