script type="application/ld+json"
  | {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "BarCamp Cyberjaya 2016",
      "startDate" : "2015-12-03T09:00+0800",
      "endDate" : "2015-12-03T18:00+0800",
      "url" : "https://www.barcampcyberjaya.org/",
      "location" : {
        "@type" : "Place",
        "sameAs" : "http://fci.mmu.edu.my",
        "name" : "Faculty of Computing & Informatics",
        "address" : "Multimedia University, Persiaran Multimedia, 63100 Cyberjaya, Selangor"
      },
      "description": "Unconference that focuses on technology, programming, and entrepreneurship.",
      "image": "https://www.barcampcyberjaya.org/img/opengraph.jpg"
    }