hr
.row
  .small-12.large-8.columns
    markdown:

      ## FAQ

      ##### **What can we talk about in BarCamp?**

      Speakers are encouraged to conduct sessions that are related to 
      technology, programming, and entrepreneurship (coz we are in Cyberjaya and
      in university right?). But, you can also talk about any other topic that
      you like, as long as other participants vote on it.

      Speakers should refrain from touching on sensitive topics such as 
      politics and religions.

      ###### **How many tracks are there, and how long is each session?**

      There will be 5 simultaneous tracks. Each session will be roughly 45 minutes long.

      ###### **What equipments are there at the venues and what do I need to bring?**

      Each MMU FCI classroom is equipped with:

      - VGA Projector
      - WiFi Access Point
      - Power socket
      - Whiteboard and markers

      If your device (such as MacBook or iPads) does not have VGA output, 
      please bring your own VGA adapter.

      ###### **And foods?**

      There will be free Halal lunch provided. Also, if you signed up as a vegan,
      we will do our best to make it easy for you.
