hr
.row: .small-12.columns
  h2 Getting Here
  .row
    .small-12.columns
      a[href="https://goo.gl/vBXFuj" target="_blank"]
        img[src="/img/mmu-map.png"]
  p
  .row
    .small-12.medium-6.columns
      h3
        i.fa.fa-train
        | &nbsp;Public Transport
      ol
        li Take KLIA Transit to <b>Putrajaya/Cyberjaya</b> station.
        li We provide a bus from Putrajaya Sentral at 9.30AM, please <a href="https://docs.google.com/forms/d/e/1FAIpQLSeaOH877i51gKm51KCfqUW8Qv_-3w17iCmYho6d92rCBYSXlQ/viewform" target="_blank">let us know</a> if you will be needing a ride.
      p: a.button.large[href="https://docs.google.com/forms/d/e/1FAIpQLSeaOH877i51gKm51KCfqUW8Qv_-3w17iCmYho6d92rCBYSXlQ/viewform" target="_blank"] I will need a ride
    .small-12.medium-6.columns
      h3
        i.fa.fa-car
        | &nbsp;Driving
      ol
        li Just find <b>MMU Cyberjaya</b> on your navigation app.
        li Once you are inside there will be road signs showing you where to park! 
