.row
  .small-12.columns
    h2 Campus Map
    .container: .row
      .small-12.large-4.columns
        a[href="https://drive.google.com/open?id=1MSCuT4mATF6q9MSV6A5_U0MHJQA&usp=sharing"]: img[src="/img/campus-map.png"]
        p <i>Click to open in Google Maps</i>
      .small-12.large-8.columns
        p <b>Multipurpose Hall</b> - Registration, sessions generation, lunch.
        p <b>Breakout rooms</b> - We will use rooms in 2nd and 3rd floor of the faculty's block C. Follow the crowd!
        p <b>Surau</b> - Faculty's 3rd floor and 4th floor. Just take the lift up, once you exit the lift, take a right u-turn for the suraus.
        p <b>Toilets</b> - They are near the lift.
        p <b>7-Eleven</b> - Just in case you got something to buy, it is not included in this tiny map. You will need to go down to Central Food Court.

  .small-12.columns
    h2 Get Help
    p <b>If you lost or found something</b>, please approach our volunteer, we will help you out.

  .small-12.columns
    h2 WiFi
    p Use <b>Open WiFi</b> provided by MMU (can be slow).
    p Speakers, if you need fast connection for streaming, click the chat button to get the wifi password.