meta property="og:title" content="BarCamp Cyberjaya 2016"
meta property="og:url" content="https://www.barcampcyberjaya.org/"
meta property="og:image" content="https://www.barcampcyberjaya.org/img/opengraph.jpg"
meta property="og:description" content="BarCamp is a user-generated unconference focused around technology. They are open, participatory workshop-events, the content of which is provided by participants. Happening on 3rd Dec 2016."
