hr
.row: .small-12.columns.sponsors
  h2 We Thank Our Sponsors
  ul.small-block-grid-2.medium-block-grid-4
    li: a[href="https://www.hilti.com" target="_blank"]
      img[src="img/sponsors/hilti.png"]
    li: a[href="http://www.seekasia.com" target="_blank"]
      img[src="img/sponsors/seek.png"]
    li: a[href="http://www.werebits.com" target="_blank"]
      img[src="img/sponsors/werebits.png"]
    li: a[href="http://tribehired.com" target="_blank"]
      img[src="img/sponsors/tribehired.png"]
