<!DOCTYPE html>
html lang="en"
head
  meta charset="UTF-8"
  meta name="viewport" content="width=device-width, initial-scale=1.0"
  title BarCamp Cyberjaya 2016
  link rel="shortcut icon" href="/favicon.ico"
  link rel="stylesheet" href="stylesheets/app.css"
  link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css"
  include _opengraph.slim
  include _event_rich_snippet.slim
  / Google Analytics
  javascript:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66076187-3', 'auto');
    ga('send', 'pageview');
body

  .container-fluid.hero
    .row: .small-12.columns: .container.hero-texts
      .cushion
      .row
        .small-12.columns.text-center
          img[src="/img/full-logo-760.png" width=760 alt="Barcamp Cyberjaya Logo"]
      .cushion
      .row
        .small-12.columns
          h4.text-center
            |  3rd December 2016
          h4.text-center
            |  MMU Cyberjaya
      .row: .small-12.columns
        / p
        / a.hero-button[target="_blank" alt="Pledge pledge pledge!" href="https://docs.google.com/forms/d/e/1FAIpQLScUyg41EU990oZNg5Fhgc-e3izQgDY6DZVaU9L1X0WokSZ5nw/viewform"] I want to give a talk!
        / p
        / a.hero-button[target="_blank" href="https://docs.google.com/spreadsheets/d/15gR6Hjz0W96x2_6Cg-GB9PSOoomv7AxTdZhpcjwa668/pubhtml?gid=1301993219&single=true"] Who are giving what talks?
        p
        a.hero-button[href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRN-EOi_zUvegjNt7A1f8q9npj5wuy4Htd8MD2El17OWrylJ2aIKRSvG31TwtjH_nfHwNM1rHfqkubZ/pubhtml?gid=0&single=true"] TALKS SCHEDULE
        p
        a.hero-button[target="_blank" href="http://www.eventbrite.com/e/barcamp-cyberjaya-2016-tickets-27883767098?aff=homepage"] Register on Eventbrite
      .cushion
  
  .cushion
  .container
    include _ongoing.slim
    / include _photos.slim
    / .cushion
    / include _what-is-barcamp.slim
    / .cushion
    / include _getting-there.slim
    / .cushion
    / include _faq.slim
    .cushion
    include _sponsors.slim
    .cushion
    include _footer.slim


    .footer

  erb:
    <!-- Live Chat Widget powered by https://keyreply.com/chat/ -->
    <!-- Advanced options: -->
    <!-- data-align="left" -->
    <!-- data-overlay="true" -->
    <script data-align="right" data-overlay="false" id="keyreply-script" src="//keyreply.com/chat/widget.js" data-color="#3F51B5" data-apps="JTdCJTIydGVsZWdyYW0lMjI6JTIyYW5vbm96JTIyLCUyMmZhY2Vib29rJTIyOiUyMmFub25veiUyMiwlMjJlbWFpbCUyMjolMjJpdHNvYy5tbXVAZ21haWwuY29tJTIyJTdE"></script>
